*, html, body, p {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body, button {
  font-family: 'Josefin Sans', sans-serif;
  color: #79931d; }

button {
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0); }

.remapp {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 0; }
  .remapp header {
    float: left; }
    .remapp header h1 span {
      font-weight: 300; }
  .remapp nav {
    float: right;
    height: 0; }
    .remapp nav .options {
      float: left;
      width: 75px;
      margin-left: 10px;
      cursor: pointer;
      border: 2px solid #79931d;
      border-radius: 25px;
      color: #fff;
      background-color: #79931d;
      transition: .3s;
      /* Lista tras */ }
      .remapp nav .options h3 {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: 34px; }
      .remapp nav .options .tracks, .remapp nav .options .maps, .remapp nav .options #add-tracks {
        padding: 10px;
        display: none; }
      .remapp nav .options.selected .tracks {
        display: block; }
      .remapp nav .options.box:hover, .remapp nav .options.box.selected {
        width: 35vw;
        min-width: 150px;
        max-width: 300px; }
      .remapp nav .options:hover, .remapp nav .options.selected {
        color: #79931d;
        background-color: #fff; }
      .remapp nav .options.selected {
        cursor: default;
        border-radius: 5px; }
        .remapp nav .options.selected h3 {
          cursor: pointer; }
      .remapp nav .options #status-tracks {
        float: right; }
      .remapp nav .options .scroll {
        position: relative;
        min-height: 0;
        max-height: 40vh;
        overflow-y: scroll; }
      .remapp nav .options ul {
        position: relative;
        visibility: visible; }
        .remapp nav .options ul li {
          position: relative;
          overflow-x: hidden;
          font-size: 10px;
          padding: 5px 0;
          border-bottom: 1px solid #c9c9c9;
          transition: .2s; }
          .remapp nav .options ul li .trackmenu {
            position: absolute;
            bottom: 0;
            right: -70px;
            text-align: center;
            transition: .3s; }
            .remapp nav .options ul li .trackmenu button {
              width: 35px; }
          .remapp nav .options ul li:hover .trackmenu {
            right: 0; }
          .remapp nav .options ul li:last-child {
            border-bottom: 0px; }
          .remapp nav .options ul li.chosen {
            color: #000; }
          .remapp nav .options ul li.complete {
            font-size: 13px; }

.legend {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 620px;
  text-align: center;
  transform: translate(-50%, 0); }
  .legend .range-options {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: .3s .5s; }
  .legend:hover .range-options {
    opacity: 1;
    height: 30px; }
  .legend .range {
    width: 620px; }
    .legend .range div {
      display: inline-block;
      text-align: center;
      cursor: help;
      overflow: hidden;
      color: rgba(255, 255, 255, 0);
      height: 20px;
      line-height: 20px;
      width: 50px;
      font-size: 10px;
      transition: .5s; }
      .legend .range div:first-child, .legend .range div:last-child {
        color: white; }
      @media (max-width: 800px) {
        .legend .range div {
          height: 15px;
          line-height: 15px;
          width: 30px;
          font-size: 9px; } }
      .legend .range div:hover {
        color: white;
        text-align: center;
        height: 50px;
        line-height: 50px;
        width: 70px;
        font-size: 15px; }
        @media (max-width: 800px) {
          .legend .range div:hover {
            height: 20px;
            line-height: 20px;
            width: 50px;
            font-size: 13px; } }

#map {
  width: 100vw;
  height: 100vh;
  background-color: #e5e3df; }

/*# sourceMappingURL=gui.css.map */
