@charset "UTF-8";
*, html, body, p {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body, button {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff; }

button {
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0); }

#map {
  height: 100vh;
  background-color: #e5e3df; }

.legend {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 620px;
  text-align: center;
  transform: translate(-50%, 0); }
  .legend:hover .range-options {
    opacity: 1;
    height: 30px; }
  .legend .range {
    width: 620px; }
    .legend .range div {
      display: inline-block;
      text-align: center;
      cursor: help;
      overflow: hidden;
      color: rgba(255, 255, 255, 0);
      height: 20px;
      line-height: 20px;
      width: 50px;
      font-size: 10px;
      transition: .5s; }
      .legend .range div:first-child, .legend .range div:last-child {
        color: white; }
      @media (max-width: 800px) {
        .legend .range div {
          height: 15px;
          line-height: 15px;
          width: 30px;
          font-size: 9px; } }
      .legend .range div:hover {
        color: white;
        text-align: center;
        height: 50px;
        line-height: 50px;
        width: 70px;
        font-size: 15px; }
        @media (max-width: 800px) {
          .legend .range div:hover {
            height: 20px;
            line-height: 20px;
            width: 50px;
            font-size: 13px; } }

header {
  transition: 0.5s;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 150px;
  z-index: 200;
  text-align: right; }
  header h1 {
    transition: 0.5s;
    display: inline-block;
    font-size: 24px;
    color: #689756;
    font-weight: 400; }
  header svg {
    transition: 0.5s;
    max-width: 60px; }
    header svg #logo {
      transition: 0.5s;
      fill: #689756; }
  header.show h1 {
    font-size: 30px;
    color: #fff; }
  header.show svg {
    max-width: 36px; }
    header.show svg #logo {
      fill: #fff; }

.remapp {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  width: 25vw;
  min-width: 250px;
  margin-right: -25vw;
  padding: 10px;
  padding-top: 60px;
  background-color: #689756;
  transition: margin 0.5s;
  /* Wysuwane panele wen─ůtrz menu scieski */
  /* Lista tras */ }
  @media (max-width: 1000px) {
    .remapp {
      margin-right: -250px; } }
  .remapp.show {
    margin-right: 0; }
  .remapp p {
    margin: 5px 0;
    text-align: justify;
    text-indent: 2em; }
  .remapp .panel {
    position: absolute;
    bottom: 0;
    right: -25vw;
    z-index: 300;
    width: 25vw;
    min-width: 250px;
    padding: 10px;
    background-color: #689756;
    transition: right 0.5s; }
    @media (max-width: 1000px) {
      .remapp .panel {
        right: -250px; } }
    .remapp .panel.show {
      right: 0; }
    .remapp .panel h3 {
      cursor: pointer; }
  .remapp #add-tracks {
    display: none; }
  .remapp #status-tracks {
    float: right; }
  .remapp .scroll {
    position: relative;
    min-height: 0;
    max-height: 60vh;
    margin-left: 20px;
    overflow-y: scroll; }
  .remapp ul {
    position: relative;
    visibility: visible; }
    .remapp ul li {
      position: relative;
      overflow-x: hidden;
      font-size: 10px;
      padding: 5px 0;
      border-bottom: 1px solid #000;
      transition: .2s;
      /* Dla za┼éadowanych tras */ }
      .remapp ul li .trackmenu {
        position: absolute;
        bottom: 0;
        right: -70px;
        text-align: center;
        transition: .3s; }
        .remapp ul li .trackmenu button {
          width: 35px; }
      .remapp ul li:hover .trackmenu {
        right: 0; }
      .remapp ul li:last-child {
        border-bottom: 0px; }
      .remapp ul li.chosen {
        color: #000; }

/*# sourceMappingURL=gui.css.map */
