$color1: #fff;
$color2: #79931d;
$color3: #c9c9c9;

*, html, body, p {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, button {
	font-family: 'Josefin Sans', sans-serif;
	color: $color2;
}

button {
	background-color: rgba(255,255,255,0);
	border: rgba(255,255,255,0);
}

.remapp {
	position: fixed;
	right: 10px;
	top: 10px;

	height: 0;

	header {
		float:left;
		h1 span {
			font-weight: 300;
		}
	}

	nav {
		float: right;
		height: 0;

		.options {
			float: left;
			width: 75px;

			margin-left: 10px;

			cursor: pointer;
			border: 2px solid $color2;
			border-radius: 25px;

			color: $color1;
			background-color: $color2;

			transition: .3s;

			h3 {
				font-weight: 400;
				font-size: 16px;

				text-align: center;
				line-height: 34px;
			}

			.tracks, .maps, #add-tracks {
				padding: 10px;
				display: none;
			}
			&.selected .tracks {
				display: block;
			}

			&.box:hover, &.box.selected {
				width: 35vw;
				min-width: 150px;
				max-width: 300px;
			}

			&:hover, &.selected {
				color: $color2;
				background-color: $color1;
			}

			&.selected {
				cursor: default;
				border-radius: 5px;
				h3 {
					cursor: pointer;
				}
			}

			#status-tracks {
				float: right;
			}

			/* Lista tras */
			.scroll {
				position: relative;
				min-height: 0;
				max-height: 40vh;
				overflow-y: scroll;
			}

			ul {
				position: relative;
				visibility: visible;

				li {
					position: relative;

					overflow-x:hidden;

					font-size: 10px;
					padding: 5px 0;
					border-bottom: 1px solid $color3;

					transition: .2s;

					.trackmenu {
						position: absolute;
						bottom: 0;
						right: -70px;

						text-align: center;
						transition: .3s;

						button {
							width: 35px;
						}
					}

					&:hover {
						.trackmenu {
							right: 0;
						}
					}

					&:last-child {
						border-bottom: 0px;
					}
					&.chosen {
						color: #000;
					}

					&.complete {
						font-size: 13px;
					}
				}
			}
		}
	}
}

.legend {
	position: fixed;
	bottom: 10px;
	left: 50%;

	width: 620px;
	text-align: center;

	transform: translate(-50%,0);

	.range-options {

		height: 0px;
		opacity: 0;

		overflow: hidden;
		transition: .3s .5s;
	}

	&:hover .range-options {
		opacity: 1;
		height: 30px;
	}

	.range {
		width: 620px;

		div {
			display: inline-block;
			text-align: center;
			cursor: help;

			overflow: hidden;
			color: rgba(255,255,255,0);
			&:first-child, &:last-child {
				color: rgba(255,255,255,1);
			}

			height: 20px;
			line-height: 20px;
			width: 50px;
			font-size: 10px;

			@media (max-width: 800px) {
				height: 15px;
				line-height: 15px;
				width: 30px;
				font-size: 9px;
			}

			transition: .5s;
			&:hover {
				color: rgba(255,255,255,1);
				text-align: center;

				height: 50px;
				line-height: 50px;
				width: 70px;
				font-size: 15px;

				@media (max-width: 800px) {
					height: 20px;
					line-height: 20px;
					width: 50px;
					font-size: 13px;
				}
			}
		}
	}
}

#map {
	width: 100vw;
  height: 100vh;

	background-color: #e5e3df;
}
